<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [9]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [10]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [11]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [12]:
# your code goes here
df2 = df.pivot_table(index = ['Respondent'], aggfunc ='size')
print(len(df2))

11398

In [13]:
count_duplicates = len(df)-len(df2)
count_duplicates

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [14]:
# your code goes here
#before RangeIndex: 11552 entries, 0 to 11551, Data columns (total 85 columns)
df.drop_duplicates(inplace=True)

#after: Int64Index: 11398 entries, 0 to 11551, Data columns (total 85 columns)

Verify if duplicates were actually dropped.

In [15]:
# your code goes here
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11398 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11398 non-null  int64
 1   MainBranch              11398 non-null  object
 2   Hobbyist                11398 non-null  object
 3   OpenSourcer             11398 non-null  object
 4   OpenSource              11317 non-null  object
 5   Employment              11398 non-null  object
 6   Country                 11398 non-null  object
 7   Student                 11347 non-null  object
 8   EdLevel                 11286 non-null  object
 9   UndergradMajor          10661 non-null  object
 10  EduOther                11234 non-null  object
 11  OrgSize                 11302 non-null  object
 12  DevType                 11333 non-null  object
 13  YearsCode               11389 non-null  object
 14  Age1stCode              11385 non-null  object
 15  YearsCodePro            11382 non-null  object
 16  CareerSat               11398 non-null  object
 17  JobSat                  11397 non-null  object
 18  MgrIdiot                10905 non-null  object
 19  MgrMoney                10901 non-null  object
 20  MgrWant                 10905 non-null  object
 21  JobSeek                 11398 non-null  object
 22  LastHireDate            11398 non-null  object
 23  LastInt                 10985 non-null  object
 24  FizzBuzz                11361 non-null  object
 25  JobFactors              11395 non-null  object
 26  ResumeUpdate            11359 non-null  object
 27  CurrencySymbol          11398 non-null  object
 28  CurrencyDesc            11398 non-null  object
 29  CompTotal               10589 non-null  float64
 30  CompFreq                11192 non-null  object
 31  ConvertedComp           10582 non-null  float64
 32  WorkWeekHrs             11276 non-null  float64
 33  WorkPlan                11277 non-null  object
 34  WorkChallenge           11234 non-null  object
 35  WorkRemote              11390 non-null  object
 36  WorkLoc                 11366 non-null  object
 37  ImpSyn                  11393 non-null  object
 38  CodeRev                 11397 non-null  object
 39  CodeRevHrs              8972 non-null   float64
 40  UnitTests               11369 non-null  object
 41  PurchaseHow             11202 non-null  object
 42  PurchaseWhat            11360 non-null  object
 43  LanguageWorkedWith      11387 non-null  object
 44  LanguageDesireNextYear  11264 non-null  object
 45  DatabaseWorkedWith      10945 non-null  object
 46  DatabaseDesireNextYear  10356 non-null  object
 47  PlatformWorkedWith      10987 non-null  object
 48  PlatformDesireNextYear  10854 non-null  object
 49  WebFrameWorkedWith      10005 non-null  object
 50  WebFrameDesireNextYear  9781 non-null   object
 51  MiscTechWorkedWith      9216 non-null   object
 52  MiscTechDesireNextYear  9943 non-null   object
 53  DevEnviron              11369 non-null  object
 54  OpSys                   11364 non-null  object
 55  Containers              11316 non-null  object
 56  BlockchainOrg           9076 non-null   object
 57  BlockchainIs            8788 non-null   object
 58  BetterLife              11300 non-null  object
 59  ITperson                11363 non-null  object
 60  OffOn                   11360 non-null  object
 61  SocialMedia             11105 non-null  object
 62  Extraversion            11378 non-null  object
 63  ScreenName              10891 non-null  object
 64  SOVisit1st              11073 non-null  object
 65  SOVisitFreq             11393 non-null  object
 66  SOVisitTo               11397 non-null  object
 67  SOFindAnswer            11395 non-null  object
 68  SOTimeSaved             11348 non-null  object
 69  SOHowMuchTime           9481 non-null   object
 70  SOAccount               11397 non-null  object
 71  SOPartFreq              10270 non-null  object
 72  SOJobs                  11392 non-null  object
 73  EntTeams                11393 non-null  object
 74  SOComm                  11398 non-null  object
 75  WelcomeChange           11313 non-null  object
 76  SONewContent            9433 non-null   object
 77  Age                     11111 non-null  float64
 78  Gender                  11325 non-null  object
 79  Trans                   11275 non-null  object
 80  Sexuality               10856 non-null  object
 81  Ethnicity               10723 non-null  object
 82  Dependents              11258 non-null  object
 83  SurveyLength            11379 non-null  object
 84  SurveyEase              11384 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

In [16]:
# your code goes here
len(df)

11398

## Finding Missing values

Find the missing values for all columns.

In [17]:
# your code goes here
missing_data = df.isnull()
print(missing_data.head())
for col in missing_data.columns.values.tolist():
    print(col)
    print(missing_data[col].value_counts())
    print('\n')

   Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0       False       False     False        False       False       False
1       False       False     False        False       False       False
2       False       False     False        False       False       False
3       False       False     False        False       False       False
4       False       False     False        False       False       False

   Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0    False    False    False           False  ...          False
1    False    False    False           False  ...          False
2    False    False    False           False  ...          False
3    False    False    False            True  ...          False
4    False    False    False           False  ...          False

   SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0         False  False   False  False      False      False       False
1          True  False   False  False      False      False       False
2         False  False   False  False      False      False       False
3         False  False   False  False      False      False       False
4         False  False   False  False      False      False       False

   SurveyLength  SurveyEase
0         False       False
1         False       False
2         False       False
3         False       False
4         False       False

[5 rows x 85 columns]
Respondent
False    11398
Name: Respondent, dtype: int64


MainBranch
False    11398
Name: MainBranch, dtype: int64


Hobbyist
False    11398
Name: Hobbyist, dtype: int64


OpenSourcer
False    11398
Name: OpenSourcer, dtype: int64


OpenSource
False    11317
True        81
Name: OpenSource, dtype: int64


Employment
False    11398
Name: Employment, dtype: int64


Country
False    11398
Name: Country, dtype: int64


Student
False    11347
True        51
Name: Student, dtype: int64


EdLevel
False    11286
True       112
Name: EdLevel, dtype: int64


UndergradMajor
False    10661
True       737
Name: UndergradMajor, dtype: int64


EduOther
False    11234
True       164
Name: EduOther, dtype: int64


OrgSize
False    11302
True        96
Name: OrgSize, dtype: int64


DevType
False    11333
True        65
Name: DevType, dtype: int64


YearsCode
False    11389
True         9
Name: YearsCode, dtype: int64


Age1stCode
False    11385
True        13
Name: Age1stCode, dtype: int64


YearsCodePro
False    11382
True        16
Name: YearsCodePro, dtype: int64


CareerSat
False    11398
Name: CareerSat, dtype: int64


JobSat
False    11397
True         1
Name: JobSat, dtype: int64


MgrIdiot
False    10905
True       493
Name: MgrIdiot, dtype: int64


MgrMoney
False    10901
True       497
Name: MgrMoney, dtype: int64


MgrWant
False    10905
True       493
Name: MgrWant, dtype: int64


JobSeek
False    11398
Name: JobSeek, dtype: int64


LastHireDate
False    11398
Name: LastHireDate, dtype: int64


LastInt
False    10985
True       413
Name: LastInt, dtype: int64


FizzBuzz
False    11361
True        37
Name: FizzBuzz, dtype: int64


JobFactors
False    11395
True         3
Name: JobFactors, dtype: int64


ResumeUpdate
False    11359
True        39
Name: ResumeUpdate, dtype: int64


CurrencySymbol
False    11398
Name: CurrencySymbol, dtype: int64


CurrencyDesc
False    11398
Name: CurrencyDesc, dtype: int64


CompTotal
False    10589
True       809
Name: CompTotal, dtype: int64


CompFreq
False    11192
True       206
Name: CompFreq, dtype: int64


ConvertedComp
False    10582
True       816
Name: ConvertedComp, dtype: int64


WorkWeekHrs
False    11276
True       122
Name: WorkWeekHrs, dtype: int64


WorkPlan
False    11277
True       121
Name: WorkPlan, dtype: int64


WorkChallenge
False    11234
True       164
Name: WorkChallenge, dtype: int64


WorkRemote
False    11390
True         8
Name: WorkRemote, dtype: int64


WorkLoc
False    11366
True        32
Name: WorkLoc, dtype: int64


ImpSyn
False    11393
True         5
Name: ImpSyn, dtype: int64


CodeRev
False    11397
True         1
Name: CodeRev, dtype: int64


CodeRevHrs
False    8972
True     2426
Name: CodeRevHrs, dtype: int64


UnitTests
False    11369
True        29
Name: UnitTests, dtype: int64


PurchaseHow
False    11202
True       196
Name: PurchaseHow, dtype: int64


PurchaseWhat
False    11360
True        38
Name: PurchaseWhat, dtype: int64


LanguageWorkedWith
False    11387
True        11
Name: LanguageWorkedWith, dtype: int64


LanguageDesireNextYear
False    11264
True       134
Name: LanguageDesireNextYear, dtype: int64


DatabaseWorkedWith
False    10945
True       453
Name: DatabaseWorkedWith, dtype: int64


DatabaseDesireNextYear
False    10356
True      1042
Name: DatabaseDesireNextYear, dtype: int64


PlatformWorkedWith
False    10987
True       411
Name: PlatformWorkedWith, dtype: int64


PlatformDesireNextYear
False    10854
True       544
Name: PlatformDesireNextYear, dtype: int64


WebFrameWorkedWith
False    10005
True      1393
Name: WebFrameWorkedWith, dtype: int64


WebFrameDesireNextYear
False    9781
True     1617
Name: WebFrameDesireNextYear, dtype: int64


MiscTechWorkedWith
False    9216
True     2182
Name: MiscTechWorkedWith, dtype: int64


MiscTechDesireNextYear
False    9943
True     1455
Name: MiscTechDesireNextYear, dtype: int64


DevEnviron
False    11369
True        29
Name: DevEnviron, dtype: int64


OpSys
False    11364
True        34
Name: OpSys, dtype: int64


Containers
False    11316
True        82
Name: Containers, dtype: int64


BlockchainOrg
False    9076
True     2322
Name: BlockchainOrg, dtype: int64


BlockchainIs
False    8788
True     2610
Name: BlockchainIs, dtype: int64


BetterLife
False    11300
True        98
Name: BetterLife, dtype: int64


ITperson
False    11363
True        35
Name: ITperson, dtype: int64


OffOn
False    11360
True        38
Name: OffOn, dtype: int64


SocialMedia
False    11105
True       293
Name: SocialMedia, dtype: int64


Extraversion
False    11378
True        20
Name: Extraversion, dtype: int64


ScreenName
False    10891
True       507
Name: ScreenName, dtype: int64


SOVisit1st
False    11073
True       325
Name: SOVisit1st, dtype: int64


SOVisitFreq
False    11393
True         5
Name: SOVisitFreq, dtype: int64


SOVisitTo
False    11397
True         1
Name: SOVisitTo, dtype: int64


SOFindAnswer
False    11395
True         3
Name: SOFindAnswer, dtype: int64


SOTimeSaved
False    11348
True        50
Name: SOTimeSaved, dtype: int64


SOHowMuchTime
False    9481
True     1917
Name: SOHowMuchTime, dtype: int64


SOAccount
False    11397
True         1
Name: SOAccount, dtype: int64


SOPartFreq
False    10270
True      1128
Name: SOPartFreq, dtype: int64


SOJobs
False    11392
True         6
Name: SOJobs, dtype: int64


EntTeams
False    11393
True         5
Name: EntTeams, dtype: int64


SOComm
False    11398
Name: SOComm, dtype: int64


WelcomeChange
False    11313
True        85
Name: WelcomeChange, dtype: int64


SONewContent
False    9433
True     1965
Name: SONewContent, dtype: int64


Age
False    11111
True       287
Name: Age, dtype: int64


Gender
False    11325
True        73
Name: Gender, dtype: int64


Trans
False    11275
True       123
Name: Trans, dtype: int64


Sexuality
False    10856
True       542
Name: Sexuality, dtype: int64


Ethnicity
False    10723
True       675
Name: Ethnicity, dtype: int64


Dependents
False    11258
True       140
Name: Dependents, dtype: int64


SurveyLength
False    11379
True        19
Name: SurveyLength, dtype: int64


SurveyEase
False    11384
True        14
Name: SurveyEase, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [24]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [23]:
# your code goes here
df['WorkLoc'].isnull().value_counts()

False    11366
True        32
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [27]:
#make a note of the majority value here, for future reference
freq_workloc = df['WorkLoc'].value_counts().idxmax()
freq_workloc

'Office'

In [27]:
#make a note of the majority value here, for future reference
df["WorkLoc"].replace(np.nan,freq_workloc, inplace = True)
df["WorkLoc"].isnull().value_counts()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [30]:
# your code goes here
df["WorkLoc"].replace(np.nan, freq_workloc, inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [31]:
# your code goes here
df["WorkLoc"].isnull().sum()

0

In [39]:
# your code goes here
employment_values = df['Employment'].value_counts()
employment_values

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [41]:
# your code goes here
freq_employment = df['Employment'].value_counts().idxmax()
freq_employment

'Employed full-time'

In [42]:
# your code goes here
employment_values = df['UndergradMajor'].value_counts()
employment_values

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [32]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [33]:
# your code goes here
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation']  = 1*df['CompTotal']
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12*df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation']  = 52*df['CompTotal']

In [43]:
# your code goes here
df[['CompTotal','CompFreq','NormalizedAnnualCompensation']].head()

   CompTotal CompFreq  NormalizedAnnualCompensation
0    61000.0   Yearly                       61000.0
1   138000.0   Yearly                      138000.0
2    90000.0   Yearly                       90000.0
3    29000.0  Monthly                      348000.0
4    90000.0   Yearly                       90000.0

In [47]:
# your code goes here
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).